<p id="notice"><%= notice %></p>

<h1>User Startups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_startups.each do |user_startup| %>
      <tr>
        <td><%= user_startup.name %></td>
        <td><%= user_startup.status %></td>
        <td><%= user_startup.user %></td>
        <td><%= link_to 'Show', user_startup %></td>
        <td><%= link_to 'Edit', edit_user_startup_path(user_startup) %></td>
        <td><%= link_to 'Destroy', user_startup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Startup', new_user_startup_path %>
