<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Project</th>
      <th>User normal</th>
      <th>Sum avalicao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.kind %></td>
        <td><%= evaluation.project %></td>
        <td><%= evaluation.user_normal %></td>
        <td><%= evaluation.sum_avalicao %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
