<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title> PlataformaEF </title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

                    <head>
                        <title>
                            Plataforma Energy Future
                        </title>
                    </head>

                    <body>
                    <center>  
                    <div class="imgcontainer">
                      <div id="logo"> <%= image_tag "Celular Android – 1.png", class: "avatar" %> </div>
                    </div>
                   </center>  
                    </body>
                    

</html>  
<style>
    



 
 
 /* Bordered form */
form {
 border: 3px solid #f1f1f1;
}






/* Center the avatar image inside this container */
.imgcontainer {
  margin-top: 10px;
  margin-left:10px;
}




/* Avatar image */
img.avatar {
  width: 80%;
  border-radius: 10%;
}

 
    
    
    
    
</style>
