<%- model_class = State -%> 
 <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
         <p>   
         <class="level-item"><a href="/states/new" class="button is-success">Novo</a> 
         <class="level-item"><a href="/welcome/index?other=clique" class="button is-success">Dashboard</a>   
         </p>
    </div>
  </div>



        Listagem de estados da plataforma.
         <% if @states.count==1 %> 
          <class="text-muted m-b-30"><%=@states.count%> registro
         <% else %> 
          <class="text-muted m-b-30"><%=@states.count%> registros
         <% end %> 


<table class="table">
  <thead>
  <tr>
    <th><%= sort_link(@q, :name, model_class.human_attribute_name(:name), default_order: :asc)%></th>
    <th>Sigla</th>
    <th>Região</th>
   <th><%=t '.actions', :default => t("helpers.actions") %></th>
   
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th><%= sort_link(@q, :name, model_class.human_attribute_name(:name), default_order: :asc)%></th>
   <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </tfoot>  
  
  <tbody>

  <% @states.each do |state| %>
   <tr>
    <td><%= state.name %></td>
    <td><%= state.sigla%></td>
    <td><%= state.region%></td>
    <td>
      <%= link_to t('.show', :default => t("helpers.links.show")),
       state_path(state), :class => 'btn btn-default btn-sm' %>
     
   </td>
  </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate @states %>


