
<%= yield :head %>
  
<%= form_for @companypower, :html => { :class => "form-horizontal form-bordered", 'data-toggle' => "validator" } do |f| %>
<div class="container is-widescreen">
  <div class="notification">
<label class="label">DADOS GERAIS</label>    

</br>
  
  <label class="label"><%= f.label :name %></label>
  <div class ='form-control'>
   <%= f.text_field :name, :class => 'input' ,'required' => 'true','data-minlength'=>'3', 
   'data-error' => "Ops. Nome inválido ou muito pequeno. " %>
  </div>
  </br>  
  <label class="label"><%=f.label :category%></label>
  <div class="form-control">
     <%= f.select(:category, Companypower.categories.keys.map {|category| [category.titleize,category]},{:include_blank=> "Selecione a Categoria"}, :class => 'form-control' )%>
    </br>
  </div> 
 </br> 
  
  </br>  
  <label class="label"><%=f.label :status%></label>
  <div class="form-control">
     <%= f.select(:status, Companypower.statuses.keys.map {|status| [status.titleize,status]},{include_blank: true}, :class => 'form-control' )%>
    </br>
  </div> 
 </br>  
 
  <label class="label"><%= f.label :responsibleemail %></label>
  <div class ='form-control'>
   <%= f.text_field :responsibleemail, :class => 'input' ,'required' => 'true','data-minlength'=>'3', 
   'data-error' => "Ops. Email inválido ou muito pequeno. " %>
  </div>
  </br>  
 
  
 
  
  

  
</br>   
<div class="field is-grouped">
  <p class="control">
    <%= f.submit nil, :class => 'button is-primary' %>    
  </p>
  <p class="control">
    <a href="/companypowers" class="button is-info">
      Cancel
    </a>
  </p>
</div>
  
  
  
  
  
  
  </div>
</div>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

